/* the rest is in the main css file */


.brp1 #options {
    /* background-color: brown; */
    margin: auto;
    overflow-y: hidden;
    /* margin-top: 30px; */
    /* background-color: brown; */
}

/* .brp1 #imagesOptions {
    height: 320px !important;
    /* background-color: blue; */
/* }*/

.brp1 #download1 {
    display: block;
    position: absolute;
    height: 10%;
    width: 150px;
    font-size: 150%;
    border: 1.5px solid silver;
    border-radius: 5px;
    /* color: red !important; */
    font-family: arial;
    text-align: center;
    background-color: rgb(31, 31, 31);
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
}

.brp1 .Options {
    overflow-y: auto;
    /* background-color: aquamarine; */
    /* height: 320px; */
    height: calc(90% - 35px);
    padding-right: 3px;
    /* width: 100%; */
}






.brp2 #lineOptions {
    width: 80%;
    padding-right: 20px
}

.brp3 #lineOptions {
    width: 100%;
    padding-right: 0
}

.brp2 #radiosLine {
    max-width: 100px;
}

.brp2 #lineWidth {
    max-width: 200px;

}

.brp2 #rpdiv2 {
    max-width: 200px;

}

.brp2 #lineColor {
    max-width: 200px
}






.brp6 #lineColor {
    width: 400px !important;
}

.brp5 #lineColor,
.br4 #lineColor,
.brp3 #lineColor {
    padding-left: 0 !important
}

.brp6 #lineColor {
    padding-left: 20px
}

.brp6 #lineOptions {
    width: 100%
}

/* ///////////////////////////// */

/* 


 */
/* ///////////////////////////// */




/* .brp2 #pencilOptions>div,
.brp2 #rpdiv2
{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.brp2 #rpdiv2{
    max-width: 100px !important;
}
.brp2 #lineWidth{
    max-width: 200px;
    margin: auto
}
.brp2 #lineColor{
    max-width: 100px;
    margin: auto
}
.brp2 #joinDiv{
    min-width: 150px;
    margin: auto
} */




.brp2 #options {
    width: 95% !important
}

.brp2 #pencilOptions {
    width: 75%
}

.brp6 #pencilOptions {
    width: 100%;
}

.brp3 #options {
    width: auto !important;
    /* background: red; */
    height: 65px !important
}

.brp3 #pencilOptions {
    width: auto
}





.brp2 #pencilWidth {
    width: fit-content
}

.brp2 #options {
    /* background-color: brown; */
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.brp2 #options::-webkit-scrollbar {
    display: none;
}

.brp2 #options {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: auto;
    /* width: 100%; */
    /* background-color: brown; */
}

.brp2 .Options {
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    /* flex-basis: 100% */
    /* background-color: blueviolet; */
}


.brp2 .Options>div {
    margin-left: 45px;
    /* width: 25vw; */
    display: flex;
    /* width: fit-content !important; */
    justify-content: center;
    flex-direction: column;
}

.brp2 .Options>div:last-of-type {
    margin-right: 0%
}

.brp2 .Options>div:first-of-type {
    margin-left: 0%
}

.brp2 #download1 {
    display: none;
}

.brp2 #textOptions {
    height: 100%;
    overflow-y: hidden
}

.brp2 #showImgBtn {
    width: fit-content;
    background-color: black !important;
    margin: auto;
    /* display: block; */
}


.brp2 input[type=range] {
    width: 200px
}

.brp2 span,
.brp2 #shapeOptions>#styleShape,
.brp2 #styleText {
    /* margin-top: -7%; */
    font-size: 20px;
    font-family: arial
}

.brp2 #styleShape>div,
.brp2 #styleText>div {
    margin-right: 0%;
}

.brp2 #styleShape>div>label,
.brp2 #styleText>div>label {
    display: flex;
    margin-right: 10px
}

.brp2 #textContent {

    resize: horizontal;
    height: 30px !important;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    vertical-align: middle;

}

.brp2 #textContent::-webkit-scrollbar {
    display: none;
}

.brp2 #textContent {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* background-color: blue; */
}

.brp2 #styleShape input,
.brp2 #styleText input,
.brp2 #joinDiv input {
    margin-right: 30%;
    margin-top: 6px
}



/* MOBILE//////////////////////////////////////////////// */

.brp4 hr {
    display: block;
}

.brp4 #textOptions {
    height: fit-content
}

.brp4 #options,
.brp4 .Options {
    /* display: none; */
    width: 100vw !important;
    flex-direction: column;
    z-index: 9;
    position: fixed;
    /* bottom: 65px; */

    margin-left: 0;
    margin-right: 0;
    /* padding-right: 5px;
    padding-left: 5px; */
max-height: none
}



.brp4 #handle {
    display: block;
    height: 45px;
    background-color: rgb(40, 40, 40);
    -webkit-box-shadow: inset 0px 50px 48px -44px rgb(91, 91, 91);
    -moz-box-shadow: inset 0px 50px 48px -44px rgb(91, 91, 91);
    box-shadow: inset 0px 50px 48px -44px rgb(91, 91, 91);
    z-index: 999;
    text-align: center;
    line-height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brp4 .Options {
    overflow: scroll !important;
    height: fit-content;
    /* margin-left: auto;
    margin-right: auto; */
    /* background-color: aqua; */
    padding-right: 25px !important;
    padding-left: 25px;
    position: absolute;
    /* top: 45px */
    bottom: 0 !important;
    /* background-color: rgb(49, 49, 49); */
    background: linear-gradient(0deg, rgba(33, 33, 33, 0.3) 60%, rgba(255, 0, 0, 0) 99.71%);

/* 
    -webkit-box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    -moz-box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1); */

}
.brp4 #wholecontainer{
    margin-bottom: 0px !important ;
    position: fixed;
    height: calc(100vh - 65px) !important;
}

/* .brp4 #pencilOptions{
    display: flex;
    flex-flow: column-reverse;
} */
.brp4 .Options::-webkit-scrollbar {
    display: none;
}

.brp4 #options {
    display: block;
    height: 100vh !important;
    bottom: 65px;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    z-index: 11;
    left: -100%;
background-color: rgba(32, 32, 32, .3);
backdrop-filter: blur(1px);
}

/* .show {
    top: 40vh !important;
} */






.brp4 .Options>div {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%
        /* margin-bottom: 10px */
}

.brp4 input[type=range] {
    width: 100%
}

.brp4 #radiosShape {
    width: fit-content
}

.brp4 #styleText,
.brp4 #styleShape {
    display: flex;
    flex-direction: row;
}

.brp4 #styleText>div,
.brp4 #styleShape>div {
    min-width: 50%
}

.brp4 #styleText>div:first-of-type label,
.brp4 #styleShape>div:first-of-type label {
    /* margin-left: 50px !important; */
    float: right;
    /* background-color: blue; */
}

.brp4 #styleText>div:last-of-type label,
.brp4 #styleShape>div:last-of-type label {
    float: left;
    /* background-color: blue; */
}

.brp4 input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /* width: 90%; */
}


/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.brp4 input[type="range"]::-webkit-slider-runnable-track {
    background: gray;
    border-radius: 2px;
    border: .1px solid black;
    height: 0.3rem;
}

/******** Firefox ********/
.brp4 input[type="range"]::-moz-range-track {
    background: gray;
    border-radius: 2px;

    height: 0.3rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
.brp4 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -10px;
    /* Centers thumb on the track */
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 1.5rem;
    width: .4rem;
}

/***** Thumb Styles *****/
/***** Firefox *****/
.brp4 input[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    border: 1px solid white;
    margin-top: -5px;

    border-radius: 10px;
    /*Removes default border-radius that FF applies*/
    margin-top: -10px;
    /* Centers thumb on the track */
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 1.5rem;
    width: .4rem;
}