/* the rest is in the main css file */
.brp1 #options {
    position: fixed;
    top: 70px;
    left: -240px;
    z-index: 10;
    overflow: hidden;
}

.brp4 #options {
    box-shadow: none;
    position: fixed;
    top: -65px
}

.brp4 #options,
.brp4 .Options {
    width: 100vw !important;
    flex-direction: column;
    z-index: 9;
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    max-height: none;
}

.labelColors{
    text-shadow: 0 0 0 rgba(0, 0, 0, 0) !important
}

.brp4 #options {
    display: block;
    height: 100vh !important;
    bottom: 65px;
    z-index: 11;
    left: -100%;
    background-color: rgba(32, 32, 32, .3);
    backdrop-filter: blur(1px);
}


.brp4 .Options {
    overflow: scroll !important;
    height: fit-content;
    padding-right: 25px !important;
    padding-left: 25px;
    position: absolute;
    bottom: 30px !important;
}
.brp4 .labelSelect{
    text-shadow: 0 0 0px black
}

.brp4 .Options::-webkit-scrollbar {
    display: none;
}

.brp4 .Options>div {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%
}

.brp1 #handle-left {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    background-color: rgb(32, 32, 32);
    z-index: 1000000000;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: display 2s !important
}

#options:hover #handle-left{
    display: none
}

#handle-left,
.brp4 #handle-left {
    display: none;
}

.brp6 #lineColor {
    width: 400px !important;
}

.brp5 #lineColor,
.br4 #lineColor {
    padding-left: 0 !important
}

.brp6 #lineColor {
    padding-left: 20px
}

.brp6 #lineOptions {
    width: 100%
}

.brp6 #pencilOptions {
    width: 100%;
}

.brp2 #download1 {
    display: none;
}

/* MOBILE//////////////////////////////////////////////// */

.brp4 hr {
    display: block;
}

.brp4 #textOptions {
    height: fit-content
}

.brp4 #handle {
    display: block;
    height: 45px;
    background-color: rgb(40, 40, 40);
    -webkit-box-shadow: inset 0px 50px 48px -44px rgb(91, 91, 91);
    -moz-box-shadow: inset 0px 50px 48px -44px rgb(91, 91, 91);
    box-shadow: inset 0px 50px 48px -44px rgb(91, 91, 91);
    z-index: 999;
    text-align: center;
    line-height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brp4 #wholecontainer {
    margin-bottom: 0px !important;
    position: fixed;
    height: calc(100vh - 65px) !important;
}

.brp4 input[type=range] {
    width: 100%
}

.brp4 input[type=number] {
    text-shadow: 0 0 3px black
}

.brp4 #styleText,
.brp4 #styleShape {
    display: inline-grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
}

.brp4 #styleText>div,
.brp4 #styleShape>div {
    min-width: 50%
}

.brp4 #styleText>div:first-of-type label,
.brp4 #styleShape>div:first-of-type label {
    float: right;
}

.brp4 #styleText>div:last-of-type label,
.brp4 #styleShape>div:last-of-type label {
    float: left;
}

.brp4 input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.brp4 input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(85,85,85);
    background: radial-gradient(circle, rgba(85,85,85,1) 50%, rgba(70,70,70,1) 100%);
    border-radius: 2px;
    height: 0.3rem;
}

.brp4 input[type="range"]::-moz-range-track {
    background: rgb(85,85,85);
    background: radial-gradient(circle, rgba(85,85,85,1) 50%, rgba(70,70,70,1) 100%);
    border-radius: 2px;
    height: 0.3rem;
}

.brp4 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 1.5rem;
    width: .4rem;
}

.brp4 input[type="range"]::-moz-range-thumb {
    border: none;
    border: 1px solid white;
    margin-top: -5px;
    border-radius: 10px;
    margin-top: -10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 1.5rem;
    width: .4rem;
}

.brp4 #joinDiv {
    display: none
}

.brp4 #lineOptions hr:last-of-type {
    display: none
}
