body {
    margin: 0;
    background-color: rgb(49, 49, 49);
    overflow-y: hidden;
    min-height: 100vh;
}

body:not(.loaded) #slider img {
    display: none;
}

body,
html {
    overflow-x: hidden;
    min-height: -webkit-fill-available;

}

#zoomable::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

#zoomable::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 0px;
}

/* Handle */
#zoomable::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 0px;
}

#zoomable::-webkit-scrollbar-corner {
    background-color: transparent;
}

#showImgBtn {
    position: relative;
    background: black;
    margin: 0 auto;
    border: 2px solid silver;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
}

#showImgBtn::before {
    content: '';
    position: absolute;
    /* font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif; */

    /* font-size: 15px; */
    /* position: absolute; */
    left: 4px;
    right: 4px;
    bottom: 6px;
    font-weight: bold;
    height: 1px;
    background-color: whitesmoke;
    transform: scaleX(0);
    border-bottom: 1px solid white;
    border-radius: 40%;
    transition: transform 200ms ease-in-out;
}

#showImgBtn:hover::before {
    transform: scaleX(1)
}

.brp3 #showImgBtn:hover::before {
    transform: scaleX(0)
}



* {
    box-sizing: border-box;
    color: white;
    user-select: none;
}

#beforeload {
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31);
    z-index: 999;
    position: absolute;
}

#orientation {
    display: none;
    z-index: 99999;

    width: 100vw;
    height: 100vh;
    line-height: 50vh;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
    background: rgb(33, 51, 2);
    background: linear-gradient(131deg, rgba(33, 51, 2, 1) 0%, rgba(59, 2, 41, 1) 100%);
}

/* @media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    #orientation {
        display: block;
        z-index: 99999;
   
      width: 100vw;
      height: 200vh;
      overflow-x: hidden;
      position: absolute;
    
      background-color: black;
    }
  } */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /* width: 90%; */
}


/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: gray;
    border-radius: 2px;
    height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: gray;
    border-radius: 2px;

    height: 0.5rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -4px;
    /* Centers thumb on the track */
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    height: 1rem;
    width: 2rem;
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    border: 1px solid white;

    border-radius: 10px;
    /*Removes default border-radius that FF applies*/
    background-color: black;
    border-radius: 50%;

    height: 1rem;
    width: 2rem;
}



input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    /* height: 100px */
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

input[type=color]::-webkit-color-swatch {
    border-radius: 5px;
    border: 1px solid white;
}

input[type=color]::-moz-color-swatch {
    border-radius: 5px;
    border: 1px solid white;

}



input[type="checkbox"] {
    filter: sepia(80%) brightness(80%) hue-rotate(170deg) saturate(0%) contrast(300%);
}




/*  */



input[type=text] {
    width: 100%
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

input[type=checkbox] {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 10px
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}



#q {
    width: 100%;
    /* height: 500px; */
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background-color: chartreuse; */
}




.labelColors:hover {
    color: white
}

#radiosPencil,
#radiosLine,
#radiosShape,
#radiosText,
#radiosColors,
#modeDiv,
#radiosShapeSel {
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    /* background-color: blueviolet; */
}

/* #uploader {
    width: 100px;
    font-size: 150%;
    border: 2px solid silver;
    color: white;
    font-family: arial;
    text-align: center;
    background-color: black;
    border-radius: 3px;
    margin-left: 7.5px;
    flex-shrink: 1;
} */

#uploadImage {
    outline: none;
    border-color: dimgrey;
    background-color: grey;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 0
}

::placeholder {
    color: rgb(67, 67, 67);
    font-size: .9em
}


#download,
#download1 {
    position: relative;
    transition: all 0.5s;
    font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;

}

#download {
    width: 70% !important
}

#download span,
#download1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: ivory;
}

#download1 {
    margin-bottom: 10px;
    width: 75% !important
}

.fa-arrow-down::before {
    content: none !important
}

.fa-arrow-down::after {
    content: "\f358";

    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    opacity: 0;
    top: 2px;
    right: -20px;
    transition: 0.5s;
}

#download:hover span,
#download1:hover span {
    padding-right: 25px;
}

#download:hover span::after,
#download1:hover span::after {
    opacity: 1;
    right: 0;
}

#download {
    height: 50px !important;
    width: 100px;
    font-size: 150%;
    border: 1.5px solid silver;
    /* color: red !important; */
    /* font-weight:bold; */
    /* font-family: arial; */
    font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;

    text-align: center;
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
    margin-left: 7.5px;
    /* margin-top: 25px !important; */
    flex-shrink: 1;

}

#download {
    /* height: calc(100% - 480px); */
    min-height: 50px;
    max-height: 100px;
    margin-left: 50%;
    margin-top: 5px;
    transform: translate(-50%);
    width: fit-content
}

#download1 {
    display: none;
    border-radius: 3px;
    /* color: red !important */
}



#options {
    position: relative;

    width: 270px;
    /* min-width: 200px; */

    height: 65vh;
    max-height: 600px;
    overflow-y: auto;



    border-radius: 0px 0px 15px 0px;

    /* -webkit-box-shadow: inset 0px 0px 46px 9px rgba(32, 32, 32, 1);
    -moz-box-shadow: inset 0px 0px 46px 9px rgba(32, 32, 32, 1);
    box-shadow: inset 0px 0px 46px 9px rgba(32, 32, 32, 1); */

    -webkit-box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    -moz-box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    /* background-color: rgba(49, 49, 49, 1);
background-image: radial-gradient(circle, rgba(49, 49, 49, 1) 23%, rgba(32, 32, 32, 1) 69%); */
left: 0;
transition: left .7s
}
.brp4 #options{
    transition: none
}

.Options {
    margin: 5%;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;

    /* background-color: #202020; */

    /* background-color: rgb(34, 10, 216); */
}

.brp1 .Options {
    margin-right: 5px;
    margin-left: 5px;

}

canvas {
    border: 5px solid black;
    box-sizing: border-box;
    /* width: 80%;
    height: 80%; */
    /* margin-left: calc(20% - 4px); */
    /* object-fit: contain; */
    background-color: white;
    /* overflow: hidden; */
    cursor: crosshair;
    /* box-sizing: border-box; */
    /* margin-top: 0 !important */
}

canvas:hover {
    cursor: crosshair;
}




#textContent {

    color: black;
    width: 100%;
    background-color: gray;
    border: 1px solid black;
    word-wrap: break-word;
    resize: vertical;
    outline: none;
    font-family: Arial, sans-serifs;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
}

#fontSelect,
option {
    width: 100%;
    outline: none;
    color: black;
    background-color: gray;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}



input[type=range] {
    width: 99%
}

span {
    font-size: 20px;
    font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;
}



input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
    color: grey
}


hr {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 70%;
    background-color: gray;
    border-radius: 50%;
}

.Options>div {
    /* margin-top: 5%; */
    width: 100%;
}

/* .brp2 .Options{
    width: 90% !important
} */
.Options span {
    display: table;
    margin: 0 auto;
}

.Options>div>div {
    display: table;
    margin: 0 auto;
}

#styleShape>div,
#styleText>div,
#joinDiv>div {
    margin-right: 30%;
}

#whole>div {
    margin-right: 20%;
}

#styleShape>div>label,
#styleText>div>label,
#joinDiv>div>label {
    display: flex;
    margin-right: 10px
}

#whole>div>label {
    display: flex;
    margin-right: 0px
}

#styleShape input,
#styleText input,
#joinDiv input {
    margin-right: 30%;
    margin-top: 9px
}

#whole input {
    margin-right: 1%
}

#middle {
    margin: 0;
    width: calc(100vw - 540px)
}

.brp1 #middle, .brp2 #middle {
    width: 85vw;
}

.brp4 #middle {
    width: fit-content
}

#middle span {
    /* color: red; */
    text-align: justify;
    text-justify: inter-word;
}



/* .brp1 .savedImage {

    height: 100%;
    width: auto; */
/* background-size: 100% 100%; */
/* display: inline-block; */
/* margin-left: auto;
        margin-right: auto; */
/* } */

.brp1 #q {
    display: block;
    /* flex-wrap: wrap; */
    margin-bottom: 15px;
    /* justify-content: center; */
}

.brp1 #middle {
    margin: auto
}

.brp1 #download {
    display: none;
}


.test {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1px;
}


/* .brp1 #options {
    border-radius: 15px;
} */



.brp2 hr {
    display: none;
}

.brp2 #rpdiv {
    width: 200px
}

.brp2 #pencilOptions,
.brp2 #lineOptions,
.brp2 #shapeOptions,
.brp2 #textOptions,
.brp2 #selectOptions,
.brp2 #imagesOptions,
.brp2 #colorsOptions {
    width: 90%
        /* height: 50px; */
        /* background-color: blue; */
        /* margin-left: auto; */
}

.brp2 #joinDiv {
    background-color: red;
    width: 50px;
}

.brp1 #q {
    margin-top: 17px
}

.brp2 #q {
    margin-top: 0;
}

.brp2 canvas {
    margin-top: 7px !important;
}






.brp2 #download {
    height: 70%;
    width: 1vw;
    font-size: 150%;
    border: 2px solid silver;
    color: white;
    font-family: arial;
    text-align: center;
    background-color: black;
    min-width: 100px;
    margin-left: 7.5px;
    flex-shrink: 1;
    margin-top: 5px;
}

/* .brp2 #options {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
} */

/* #ljoin {
        margin-top: -7%
    } */








.brp3 #q>div {
    margin-top: 0;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}



.brp4 body {
    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgb(49, 49, 49) 20%);

}

.brp4 #zoomable::-webkit-scrollbar {
    width: 0;
    height: 0
}

.brp4 canvas {
    margin-top: 0px;
    border: 0;
    width: 100%;
}

.brp4 #q {
    /* height: 70% !important; */

    margin-bottom: 0
}

.brp4 #wholecontainer {
    right: 0;
    left: 0;

}


#swiper>div {
    margin-top: 10px;
    color: silver
}


.brp4 #middle {
    display: flex;
    flex-wrap: wrap-reverse;
}

.brp4 #middle span {
    display: none !important
}


#swiper {
    display: none
}

.brp4 #swiper {
    display: block;
    position: fixed;
    bottom: 65px;
    /* background-color: red; */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    height: 50px !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-top: 10px; */
    color: silver;
    /* background-color: brown; */
}

.brp5 #swiper {
    font-size: 13px
}

.fa-arrow-left-long,
.fa-arrow-right-long {
    color: silver;

    vertical-align: sub
}