#right {
    width: 270px;
    border-radius: 0px 0px 0px 15px;
    background-color: rgb(49, 49, 49);
    height: fit-content;
    overflow-y: hidden;
    right: 0;
    transition: right .7s;
    position: fixed
}

.brp1 #right,
.brp2 #right {
    position: fixed;
    top: 70px;
    right: -240px;
    
}

.brp4 #right {
    transition: none;
    top: 0;
   background-color: transparent;
    display: block;
    position: fixed;
    z-index: 11;
    height: calc(100vh - 65px);
    bottom: 65px;
    left: 100%;
    width: 200px;
    max-height: none;
}

#savedImages {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 65vh;
    max-height: 600px;
    position: relative;
    -webkit-box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    -moz-box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
    box-shadow: inset 0px 13px 80px 52px rgba(32, 32, 32, 1);
}

.brp1 #savedImages {
    border: none;
    -webkit-box-shadow: inset 0px 0px 50px 42px rgba(32, 32, 32, 1);
    -moz-box-shadow: inset 0px 0px 50px 42px rgba(32, 32, 32, 1);
    box-shadow: inset 0px 0px 50px 42px rgba(32, 32, 32, 1);
}

.brp4 #savedImages {
    height: 150%;
    position: relative;
    margin-top: 0;
    flex-direction: column;
    background-color: rgba(47, 47, 47, .3);
    width: 100%;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: none;
    height: 100%;
    backdrop-filter: blur(1px);
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(40, 40, 40, 1);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(40, 40, 40, 1);
    box-shadow: inset 0px 0px 24px 0px rgba(40, 40, 40, 1);
}

.brp4 #savedImages::-webkit-scrollbar {
    width: 0px;
}

#savedImages span {
    color: grey;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.brp4 #savedImages span {
    display: inline-block;
    width: 90%;
    height: 0px;
    word-break: break-word !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    color: black;
    white-space: pre-line !important;
}

.savedImage {
    width: 100%;
    display: inline-block;
}

.savedImage:hover {
    opacity: .5 !important;
    cursor: pointer;
}

.brp4 .savedImage {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: auto;
    display: block
}

#closeright {
    display: none;
}

.brp4 #closeright {
    display: block;
    background-color: rgba(255, 0, 0, .1);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: -139px !important;
    position: relative;
    bottom: 40px;
    color: rgba(255, 0, 0, 0.567)
}

.brp1 #handle-right {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 100%;
    background-color: rgba(32, 32, 32, 1);
    z-index: 1000000000;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#handle-right,
.brp4 #handle-right {
    display: none
}

#right:hover #handle-right{
    display: none
}