.tools {
    /* background-color: red; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    /* max-width: 100% !important; */
    background-color: rgba(32, 32, 32, 1);

    background: rgb(0, 0, 0);
    /* background: linear-gradient(180deg, rgba(15, 15, 15, 1) 5%, rgba(32, 32, 32, 1) 70%); */
    background: rgba(32, 32, 32, 1)
        /* -webkit-box-shadow: inset 0px 0px 46px 9px rgba(32, 32, 32, 1);
    -moz-box-shadow: inset 0px 0px 46px 9px rgba(32, 32, 32, 1);
    box-shadow: inset 0px 0px 46px 9px rgba(32, 32, 32, 1); */


}

i {
    font-size: 30px;
}

.btn:hover {
    cursor: pointer;

    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, .2) 20%, rgba(255, 255, 255, 0) 60%);
}

.btn {
    height: 85%;
    width: 100px;
    font-size: 150%;
    /* border: 2px solid silver; */
    color: white;
    font-family: arial;
    text-align: center;
    /* background-color: black; */
    border: none;
    background-color: transparent;
    border-radius: 3px;
    margin-left: 7.5px;
    flex-shrink: 1;

    position: relative;

}


#save::before {
    content: 'SAVE'
}

#undo::before {
    content: 'UNDO'
}

#pencil::before {
    content: 'PENCIL'
}

#line::before {
    content: 'LINE'
}

#shape::before {
    content: 'SHAPE'
}

#text::before {
    content: 'TEXT'
}

#images::before {
    content: 'IMAGES'
}

#select::before {
    content: 'SELECT'
}

#colors::before {
    content: 'COLORS'
}

#clear::before {
    content: 'CLEAR'
}

.btn::before {
    /* content: ''; */
    position: absolute;
    font-family: 'Verdana', 'Arial Narrow', Arial, sans-serif;

    font-size: 15px;
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 12px;
    font-weight: bold;
    height: 2px;
    /* background-color: whitesmoke; */
    transform: scaleX(0);
    /* border-bottom: 1px solid white; */
    border-radius: 40%;
    transition: transform 200ms ease-in-out;
}

.btn:hover::before {
    transform: scaleX(1)
}

#download2 {
    display: none;
    border-radius: 3px
}

#save {
    margin-left: 3%
}

#undo {
    margin-right: 1%
}

#pencil {

    margin-left: 8%
}

#colors {
    margin-right: 12%
}

#clear {
    margin-right: 5.5%
}



.brp1 #colors {
    margin-right: 5%
}

.brp1 .tools {
    -webkit-box-shadow: 0px 10px 20px 10px rgba(32, 32, 32, .75);
    -moz-box-shadow: 0px 10px 20px 10px rgba(32, 32, 32, .75);
    box-shadow: 0px 10px 20px 10px rgba(32, 32, 32, .75);
}



.brp2 .tools {
    justify-content: left;
    /* background-color: blueviolet !important; */
    overflow-x: auto;
    overflow-y: hidden;
    height: 70px;
    /* width:1000px */
    background: linear-gradient(180deg, rgba(15, 15, 15, 1) 5%, rgba(32, 32, 32, 1) 70%);

    -webkit-box-shadow: 0px 10px 50px 80px rgba(25, 25, 25, .55);
    -moz-box-shadow: 0px 10px 50px 80px rgba(25, 25, 25, .55);
    box-shadow: 0px 10px 50px 80px rgba(25, 25, 25, .55);
}

.brp4 .tools {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.brp2 .btn {
    height: 100%;
    width: 9vw !important;
    font-size: 1rem !important;
    /* border: 2px solid silver; */
    color: white;
    font-family: arial;
    text-align: center;
    /* background-color: black; */
    min-width: 3vw;
    margin-left: 7.5px;
    flex-shrink: 1;
    margin-top: 5px;
}

.brp2 .btn::before {
    content: none !important;
    /* bottom: 18px !important;
    font-size: 10px !important;  */
}

.brp2 #save {
    margin-left: auto !important;
}

.brp2 #pencil {
    margin-left: 7.5px;
}

.brp2 #undo {
    margin-right: 0
}

.brp2 #colors {
    margin-right: 0
}

.brp2 #clear {
    margin-right: 0
}

.brp2 #download2 {
    display: block;
    min-width: 9vw;
    margin-right: 7.5px;
    margin-right: auto !important;

}



.brp3 i {
    font-size: 5vw
}

.brp3 .btn {
    height: 70% !important;

}

.brp3 #download2 {
    margin-right: 0 !important
}



.brp4 #wrapper{
    position: fixed;
    bottom: 0px;
    overflow-x: scroll !important;
   z-index: 10 !important;
   width: 100vw;
 padding-bottom: 15px;
   background-color: rgb(136, 190, 0) !important;

}
/* i{
    display: none !important;
} */
.brp4 .tools::-webkit-scrollbar {
    display: none;
}
#wrapper::-webkit-scrollbar {
    display: none;
  }

.brp4 .tools {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* align-items: flex-start; */
    height: 50px;
    margin-bottom: 0 !important;
    /* background-color: aquamarine; */
    align-items: flex-end;
    background: transparent;
    /* for some reason this line below creates thin white stripe on the right on some mobiles */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.brp4 .btn {
    position: relative;
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0px solid white !important;
    border-right: 1px solid white !important;
    background: transparent !important;
    /* width: 10vw !important; */
    min-width: 15vw;
    height: 60% !important;
    /* height: 15vw !important; */
    /* background-color: brown !important; */
    font-size: 100% !important;
    text-transform: uppercase;
    font-weight: bold;
}


.brp4 .btn::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 6px;
    height: 2px;
    background-color: gray;
    transform: scaleX(0);
    /* border-bottom: 1px solid white; */
    border-radius: 40%;
    transition: transform 200ms ease-in-out;
    z-index: -1
}

.brp4 #download2 {
    margin-left: 10px !important;
    margin-right: 13px !important;
    border: 0px solid white !important;
}